body {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  line-height:30px;

  
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
